<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <style>
        /*<!--스타일 설정-->*/


        .exit-button {
            margin-top: 10px;
            padding: 10px;
            background-color: #ff4444;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .exit-button:hover {
            background-color: #cc0000;
        }
        /*<!--스타일 설정-->*/
    </style>
</head>
<body>
<div class="chat-container">
    <h1 th:text="${team.teamName}">Chat Room</h1>
    <ul class="chat-messages" id="chatMessages"></ul>
    <div id="message">
        <label for="msg"></label>
        <input type="text" id="msg" class="message-input" placeholder="메시지를 입력하세요...">
        <button type="button" class="message-send" id="btnSend">Send</button>
    </div>
    <!-- Exit 버튼 추가 -->
    <form action="/team/showAll" method="get">
        <button type="submit" class="exit-button">Exit</button>
    </form>

    <input type="hidden" id="teamId" th:value="${team.id}"/>
    <input type="hidden" id="userName" th:value="${user.name}"/>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</div>

<script>
    let socket = new SockJS("/stomp/chat");
    let stompClient = Stomp.over(socket);
    const teamId = document.querySelector('input#teamId').value;
    const userName = document.querySelector('input#userName').value;

    // connection이 맺어지면 실행될 메서드
    stompClient.connect({}, function () {
        console.log("STOMP connection");

        stompClient.subscribe("/sub/chat/room/" + teamId, function (chat) {
            console.log(chat.body);

            loadChatMessages();
        });

        stompClient.send("/pub/chat/enter", {}, JSON.stringify({teamId: teamId, userName: userName}))
    });

    const loadChatMessages = async () =>{
        const url = `/api/chatList/${teamId}`;
        const response = await axios.get(url);
        console.log(response.data);

    }

    const sendMessage = (e) => {
        const msg = document.querySelector('input#msg');
        console.log(userName + ":" + msg.value);

        stompClient.send("/pub/chat/message", {}, JSON.stringify({teamId: teamId, userName: userName, message: msg.value}));
        msg.value = "";
    }

    const sendBtn = document.querySelector('button#btnSend');
    sendBtn.addEventListener('click', sendMessage);





</script>

</body>
</html>

